@charset "UTF-8";
body {
  font-family: "ヒラギノ角ゴシック";
}

body h1 {
  font-size: 30px;
}

@media (max-width: 760px) {
  body h1 {
    font-size: 24px;
  }
}

body h2 {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #27279f;
}

body h3 {
  font-weight: bold;
  padding-bottom: 50px;
  padding-top: 20px;
  font-size: 25px;
}

@media (max-width: 760px) {
  body h3 {
    padding-bottom: 20px;
    font-size: 20px;
  }
}

body h4 {
  font-size: 20px;
  padding-bottom: 30px;
}

@media (max-width: 760px) {
  body h4 {
    padding-bottom: 20px;
    font-size: 17px;
  }
}

body h5 {
  font-size: 17px;
  padding-bottom: 30px;
}

@media (max-width: 760px) {
  body h5 {
    font-size: 15px;
  }
}

body h6 {
  font-size: 15px;
  line-height: 200%;
}

@media (max-width: 760px) {
  body h6 {
    font-size: 13px;
    line-height: 150%;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff3be;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 130px;
  padding-bottom: 20px;
}

@media (max-width: 1000px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header .header-left {
  font-family: cursive;
  font-size: 30px;
}

@media (max-width: 1000px) {
  .header .header-left {
    font-size: 24px;
  }
}

@media (max-width: 760px) {
  .header .header-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 760px) {
  .header .header-left .nav-btn {
    height: 30px;
    width: 50px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: transparent;
    border: none;
    font: inherit;
    outline: none;
    position: relative;
    right: 10px;
    top: 0px;
  }
  .header .header-left .nav-btn span {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
    display: block;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  .header .header-left .nav-btn span:first-child {
    top: 0;
  }
  .header .header-left .nav-btn span:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .header .header-left .nav-btn span:last-child {
    bottom: 0;
  }
  .header .header-left .nav-btn.-active span {
    top: 0;
    bottom: 0;
    margin: auto;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  }
  .header .header-left .nav-btn.-active span:first-child {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
  .header .header-left .nav-btn.-active span:nth-child(2) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header .header-left .nav-btn.-active span:last-child {
    -webkit-transform: rotate(-405deg);
            transform: rotate(-405deg);
  }
}

.header .header-right {
  margin: auto 0;
}

@media (max-width: 760px) {
  .header .header-right {
    display: none;
  }
}

.header .header_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header_links .header_link {
  padding-left: 30px;
  font-size: 16px;
  font-weight: bold;
}

.header .header_links .header_link:hover {
  text-decoration: underline;
  color: #27279f;
}

.burger_links {
  display: none;
}

@media (max-width: 760px) {
  .burger_links {
    display: block;
    z-index: 1;
    position: fixed;
    top: 100px;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: black;
    color: #ffffff;
    visibility: hidden;
  }
  .burger_links.-active {
    opacity: 1;
    visibility: visible;
    display: block;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }
  .burger_links ul {
    padding-top: 50px;
  }
  .burger_links li {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
  }
  .burger_links li:hover {
    color: yellow;
  }
}

.top {
  width: 100%;
  position: absolute;
  top: 10%;
  text-align: center;
  color: #ece7e7;
  font-weight: bold;
  font-size: 26px;
  margin-top: 100px;
}

@media (max-width: 760px) {
  .top {
    margin-right: 0px;
    font-size: 20px;
  }
}

.first_impression {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-image: url(../image/storm.jpg);
  background-size: cover;
  background-position: center;
}

.first_impression video {
  min-width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.first_impression .impression_explanation {
  position: absolute;
  top: 434px;
  right: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: 700;
}

.first_impression .impression_explanation .impression {
  padding-bottom: 20px;
  font-family: Georgia, serif;
}

.first_impression .impression_explanation .impression span {
  color: red;
}

.introduce-myself {
  background-color: #deedf1;
}

.introduce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 760px) {
  .introduce {
    display: block;
  }
}

.introduce .my_image {
  width: 50%;
}

@media (max-width: 760px) {
  .introduce .my_image {
    width: 100%;
  }
}

.introduce .my_introduces {
  width: 50%;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 760px) {
  .introduce .my_introduces {
    width: 100%;
  }
}

.introduce .my_introduces .my_explanation .my_introduce {
  text-align: center;
  padding-top: 15px;
  font-size: 18px;
}

.introduce .my_introduces .my_explanation .my_introduce span {
  font-weight: bold;
}

.introduce .my_introduces .my_PR {
  margin-top: 30px;
}

.introduce .my_introduces .my_PR .pr {
  padding-top: 15px;
  font-size: 18px;
  text-align: center;
}

.introduce .my_introduces .my_PR .pr span {
  font-weight: bold;
}

.introduce .my_introduces .my_history {
  margin-top: 30px;
}

.introduce .my_introduces .my_history p {
  text-align: center;
  padding-bottom: 15px;
  line-height: 27px;
}

.introduce .my_introduces .my_history p span {
  font-weight: bold;
}

.skils {
  padding-bottom: 30px;
}

.skils p {
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.skils .skil-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skils .skil-images .skil-image {
  background-color: #ffffff;
  margin: 30px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 150px;
  width: 150px;
}

.skils .skil-images .skil-image:hover {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-transition: 2s;
  transition: 2s;
}

@media (max-width: 760px) {
  .skils .skil-images .skil-image {
    height: 120px;
    width: 120px;
    margin: 10px;
  }
}

.skils .skil-images .skil-image .logo {
  height: 100px;
}

.skils .skil-images .skil-image .star {
  width: 100px;
  margin: 0 auto;
}

.skils .skil-images .skil-image .star3 {
  width: 75px;
  margin: 0 auto;
}

@media (max-width: 760px) {
  .skils .skil-images .skil-image .star3 {
    width: 50px;
  }
}

.service_page {
  background-image: url(../image/matrix-code-bg-2829.jpeg);
  background-color: rgba(255, 255, 255, 0.9);
  background-blend-mode: lighten;
  padding: 50px 100px;
}

@media (max-width: 800px) {
  .service_page {
    padding: 50px 10px;
  }
}

.service_page .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
}

@media (max-width: 800px) {
  .service_page .services {
    display: block;
  }
}

.service_page .services .service {
  width: 50%;
  text-align: center;
}

@media (max-width: 800px) {
  .service_page .services .service {
    width: 100%;
    padding-bottom: 50px;
    border-bottom: solid 1px #cccaca;
    padding-top: 20px;
  }
}

.service_page .services .service .service_image img {
  width: 150px;
  height: 150px;
}

.service_page .services .service .service_image img:hover {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-transition: 2s;
  transition: 2s;
}

.service_page .services .service .service_title {
  padding-top: 40px;
  font-size: 24px;
  font-weight: bold;
}

.service_page .services .service .service_explanation {
  padding: 15px 0px;
  line-height: 180%;
}

.service_page .services .service .service_explanation p {
  font-size: 20px;
}

@media (max-width: 800px) {
  .service_page .services .service .service_explanation p {
    font-size: 16px;
  }
}

.service_page .services .service .service_price {
  font-size: 20px;
}

.service_page .services .service .service_price .price {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
}

.service_page .services .service .service_price p span {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, transparent), color-stop(80%, yellow));
  background: linear-gradient(transparent 80%, yellow 80%);
}

.service_page .service_other {
  text-align: center;
  font-size: 18px;
  text-decoration: underline;
}

.works .web {
  text-align: center;
  font-size: 20px;
  padding: 20px;
  font-weight: 500;
}

.works .web.web2 {
  border-bottom: 1px solid #cccaca;
  padding-bottom: 40px;
  padding-top: 40px;
}

.works .web_site,
.works .web_app {
  display: none;
}

.works .web_site.-active,
.works .web_app.-active {
  display: block;
}

.works .work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
}

@media (max-width: 500px) {
  .works .work {
    display: block;
    padding-top: 20px;
  }
  .works .work:first-child {
    padding-top: 0;
  }
}

.works .work .work_link {
  width: 50%;
  list-style: none;
}

@media (max-width: 500px) {
  .works .work .work_link {
    width: 100%;
  }
}

.works .work .work_link .work_images {
  width: 100%;
  height: 100%;
  border: solid 1px #cccaca;
}

.works .work .work_explanation {
  width: 50%;
  text-align: center;
  border-bottom: solid 1px #cccaca;
}

@media (max-width: 500px) {
  .works .work .work_explanation {
    width: 100%;
  }
}

.works .work .work_explanation a {
  text-decoration: underline;
  color: #0000ee;
}

.flow_page .flows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px;
}

@media (max-width: 1000px) {
  .flow_page .flows {
    display: block;
    margin: 20px;
  }
}

.flow_page .flows .flow {
  width: 25%;
  padding: 20px;
  border: solid lightgrey;
}

@media (max-width: 1000px) {
  .flow_page .flows .flow {
    width: 100%;
    padding: 20px 20px;
  }
}

@media (max-width: 760px) {
  .flow_page .flows .flow .flow_title {
    text-align: center;
  }
}

.flow_page .flows .flow .flow_title strong {
  font-weight: 600;
}

.flow_page .flows .flow .flow_explanation {
  padding-top: 20px;
  line-height: 150%;
}

@media (max-width: 760px) {
  .flow_page .flows .flow .flow_explanation {
    max-height: 100%;
  }
}

.flow_page .flows .next {
  padding-top: 80px;
  font-size: 28px;
  color: red;
  margin: 0px 5px;
}

@media (max-width: 1000px) {
  .flow_page .flows .next {
    display: none;
  }
}

.contact {
  text-align: center;
  height: 400px;
  background-color: #80d2f0;
}

@media (max-width: 760px) {
  .contact {
    height: 300px;
  }
}

.contact .contact_body {
  padding-bottom: 50px;
}

.contact .contact_body .contact_explanation {
  margin-top: 50px;
  padding-bottom: 50px;
  font-size: 22px;
  line-height: 150%;
  font-weight: 600;
}

@media (max-width: 760px) {
  .contact .contact_body .contact_explanation {
    font-size: 18px;
    margin-top: 20px;
  }
}

.contact .contact_body a {
  width: 350px;
  padding: 10px 50px;
  border: solid white;
  background-color: #ffffff;
  border-radius: 50px;
  /*角丸*/
  margin: 0 auto;
  margin-bottom: 50px;
  color: #80d2f0;
  font-size: 25px;
}

@media (max-width: 760px) {
  .contact .contact_body a {
    font-size: 22px;
    width: 250px;
  }
}

#page-top {
  z-index: 1;
  position: fixed;
  bottom: 0;
  right: 0px;
  color: #27279f;
  font-size: 50px;
  cursor: pointer;
}

.copyright {
  background-color: black;
  color: #ffffff;
  text-align: center;
  padding: 30px;
}

@media (max-width: 760px) {
  .copyright {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */