.header {
  display: flex;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  background-color: #fff3be;
  // height: 100px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 130px;
  padding-bottom: 20px;
  @media (max-width: 760px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header-left {
    font-family: cursive;
    font-size: 30px;
    @media (max-width: 760px) {
      display: flex;
      font-size: 24px;
      width: 100%;
      justify-content: space-between;
    }

    .nav-btn {
      @media (max-width: 760px) {
        // margin-top: 10px;

        height: 30px;
        width: 50px;
        appearance: none;
        background: transparent;
        border: none;
        font: inherit;
        outline: none;
        position: relative;
        right: 10px;
        top: 0px;

        span {
          position: absolute;

          width: 100%;
          height: 3px;
          background-color: black;
          display: block;
          transition: transform 0.3s ease;
          &:first-child {
            top: 0;
          }
          &:nth-child(2) {
            top: 0;
            bottom: 0;
            margin: auto;
          }
          &:last-child {
            bottom: 0;
          }
        }
        &.-active {
          span {
            top: 0;
            bottom: 0;
            margin: auto;
            transition: transform 0.3s ease;
            &:first-child {
              transform: rotate(45deg);
            }
            &:nth-child(2) {
              transform: rotate(45deg);
            }
            &:last-child {
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
  }
  .header-right {
    margin: auto 0;
    @media (max-width: 760px) {
      display: none;
    }
  }
  .header_links {
    display: flex;

    .header_link {
      padding-left: 30px;
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.burger_links {
  display: none;
  @media (max-width: 760px) {
    display: block;
    z-index: 1;
    position: fixed;
    top: 100px;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: black;
    color: #ffffff;
    visibility: hidden;
    &.-active {
      opacity: 1;
      visibility: visible;
      display: block;
      transition: opacity 0.3s ease;
    }

    li {
      padding: 20px;
      font-size: 20px;
      border-bottom: solid 1px gray;
    }
  }
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-weight: bold;
  font-size: 20px;
  margin-right: 40px;
  margin-top: 100px;
  @media (max-width: 760px) {
    margin-right: 0px;
  }
}

.first_impression {
  // margin-top: 50px;
  background-image: url(https://taijusugahara.github.io/my_page/image/sky.jpg);
  height: 500px;
  background-position: center;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;

  display: flex;
  justify-content: center;
  align-items: center;

  .impression_explanation {
    font-size: 30px;
    font-weight: 500;
    @media (max-width: 760px) {
      font-size: 24px;
      text-align: center;
    }
    .impression {
      padding-bottom: 20px;
      font-family: Georgia, serif;
      span {
        color: red;
      }
    }
  }
}

// .introduce-myself {
.topic {
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  // color: rebeccapurple;
  background-color: rgb(44, 44, 44);
  color: white;
}
.introduce {
  display: flex;
  background-color: rgb(222, 237, 241);
  @media (max-width: 760px) {
    display: block;
  }
  .my_image {
    width: 50%;
    @media (max-width: 760px) {
      width: 100%;
    }
  }
  .my_introduces {
    width: 50%;
    padding-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 760px) {
      width: 100%;
    }

    .my_explanation {
      .my_introduce {
        text-align: center;
        padding-top: 15px;
        font-size: 18px;
        span {
          font-weight: bold;
        }
      }
    }
    .my_PR {
      margin-top: 30px;
      .pr {
        padding-top: 15px;
        font-size: 18px;
        text-align: center;
        span {
          font-weight: bold;
        }
      }
    }
    .my_history {
      margin-top: 30px;
      h2 {
        text-align: center;
        padding-bottom: 15px;
        span {
          font-weight: bold;
        }
      }
    }
  }
}
.skils {
  // margin: 0 20px;
  background-color: rgb(223, 209, 209);
  h2 {
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
  }
  .skil-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .skil-image {
      background-color: #ffffff;
      margin: 30px;
      // display: block;
      display: flex;
      flex-direction: column;
      height: 150px;
      width: 150px;
      @media (max-width: 760px) {
        height: 120px;
        width: 120px;
        margin: 15px;
      }

      .logo {
        height: 100px;
      }
      .star {
        width: 100px;
        margin: 0 auto;
      }
      .star3 {
        width: 75px;
        margin: 0 auto;
        @media (max-width: 760px) {
          width: 50px;
        }
      }
    }
  }
}
.service_page {
  background-color: rgb(204, 243, 204);
  padding: 50px 100px;
  @media (max-width: 760px) {
    padding: 50px 10px;
  }
  .services {
    display: flex;
    padding-bottom: 50px;
    @media (max-width: 760px) {
      display: block;
    }
    .service {
      width: 50%;
      text-align: center;
      @media (max-width: 760px) {
        width: 100%;
        padding-bottom: 50px;
        border-bottom: solid 1px rgb(204, 202, 202);
        padding-top: 20px;
      }
      .service_image img {
        width: 200px;
        height: 200px;
      }
      .service_title {
        padding-top: 40px;
        font-size: 24px;
        font-weight: bold;
      }
      .service_explanation {
        height: 180px;
        padding: 15px 0px;
        line-height: 180%;
        @media (max-width: 760px) {
          // height: 200px;
          // text-align: left;
        }
        p {
          font-size: 20px;
          @media (max-width: 760px) {
            font-size: 16px;
          }
        }
      }
      .service_price {
        font-size: 20px;
        h1 {
          font-weight: 600;
          padding-bottom: 10px;
          font-size: 18px;
        }
      }
    }
  }
  .service_other {
    text-align: center;
    font-size: 18px;
    text-decoration: underline;
  }
}

.works {
  .work {
    display: flex;
    // padding-bottom: 10px;
    .work_link {
      width: 50%;

      list-style: none;
      .work_images {
        // width: 500px;
        width: 100%;
        border: solid 1px rgb(204, 202, 202);
      }
    }
    .work_explanation {
      width: 50%;
      text-align: center;
      border-bottom: solid 1px rgb(204, 202, 202);
      // background-color: rgb(160, 128, 128);
      // color: white;
      h1 {
        font-weight: bold;
        padding-bottom: 50px;
        padding-top: 20px;
        font-size: 25px;
        @media (max-width: 760px) {
          padding-bottom: 20px;
        }
      }
      h2 {
        font-size: 20px;
        padding-bottom: 30px;
        @media (max-width: 760px) {
          padding-bottom: 20px;
          font-size: 17px;
        }
      }
      h3 {
        font-size: 17px;
        // line-height: 200%;
        padding-bottom: 30px;
        @media (max-width: 760px) {
          font-size: 15px;
        }
      }
      h4 {
        font-size: 15px;
        line-height: 200%;
        @media (max-width: 760px) {
          font-size: 13px;
          line-height: 150%;
        }
      }
      a {
        text-decoration: underline;
        color: #0000ee;
      }
    }
  }
}

.flow_page {
  // border-top: solid pink;
  // border-bottom: solid pink;
  .flows {
    display: flex;
    margin: 50px;
    @media (max-width: 760px) {
      display: block;
      margin: 20px;
    }

    .flow {
      height: 300px;
      width: 25%;
      padding: 20px;
      border: solid lightgrey;

      @media (max-width: 760px) {
        width: 100%;
        padding: 20px 10px;
      }
      .flow_title {
        @media (max-width: 760px) {
          text-align: center;
        }
        strong {
          font-weight: 600;
        }
      }
      .flow_explanation {
        padding-top: 20px;
        height: 300px;
        line-height: 150%;
      }
    }
    .next {
      padding-top: 80px;
      font-size: 28px;
      color: red;
      margin: 0px 5px;
      @media (max-width: 760px) {
        display: none;
      }
    }
  }
}
.contact {
  text-align: center;
  height: 400px;
  background-color: rgb(128, 210, 240);
  @media (max-width: 760px) {
    height: 300px;
  }
  .contact_body {
    padding: 50px;
    @media (max-width: 760px) {
      padding: 50px 30px;
    }

    .contact_explanation {
      margin-top: 50px;
      padding-bottom: 50px;
      font-size: 22px;
      line-height: 150%;
      font-weight: bold;
      @media (max-width: 760px) {
        font-size: 18px;
        margin-top: 20px;
      }
    }
    .contact_link {
      width: 350px;
      padding: 10px 50px;
      border: solid white;
      background-color: #ffffff;
      border-radius: 5%; /*角丸*/
      margin: 0 auto;
      margin-bottom: 50px;
      @media (max-width: 760px) {
        width: 250px;
        // margin-bottom: 0px;
      }
      a {
        width: 150px;
        color: rgb(128, 210, 240);
        font-size: 25px;
        @media (max-width: 760px) {
          font-size: 22px;
        }
      }
    }
  }
}

// トップへ戻るボタン
#page-top {
  z-index: 1;
  position: fixed;
  bottom: 0;
  right: 30px;
  // width: 100px;
  // height: 100px;
  color: rgb(99, 99, 238);
  // color: #fff3be;
  font-size: 50px;
}

.copyright {
  background-color: black;
  color: #ffffff;
  text-align: center;
  padding: 30px;
}
